h1 {text-align: center; color: purple; border: 5px solid; color: purple}

h2 {text-align: center; color: magenta;}

body {background-color: lightpink;}

#styledImage {border: 5px solid; color: purple;}

#table1 {font-style: italic; font-weight: bold; background-color: mediumpurple; color: midnightblue;}